<h1>Chirper App</h1>
<p>
	This application was built by Kevin Incorvia to demonstrate his Rails education progress.
	He followed the tutorial in the book "Ruby on Rails 3 Tutorial" by Michael Hartl.
</p>